.AddTodo {
  margin: 80px 0;
  display: flex;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  height: 66px;
  width: 66px;
  border-radius: 5px 0 0 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.input {
  height: 66px;
  width: calc(100vw - 120px);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0 5px 5px 0;
  color: white;
  font-size: 23px;
}

.button {
  height: 66px;
  width: 66px;
  background-color: #1da1f2;
  color: #f5f5f5;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  display: none;
}
