.App {
  height: 90vh;
  padding-top: 10vh;
  margin: 0 auto;
  min-width: 230px;
  max-width: 550px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.todo-form {
  display: flex;
  flex-direction: row;
}

.todo-container {
  margin-top: 2rem;
}

.todo {
  height: 3rem;
  padding: 0.5rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

.completed {
  text-decoration-line: line-through;
  background: rgba(200, 200, 200, 0.3);
}

.todo:hover {
  background: rgba(200, 200, 200, 0.1);
}
