.App {
  padding: 20vh 40vh 0vh 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.App .select {
  display: inline-block;
}
.App .todo {
  display: flex;
}